body {

    color: rgb(5, 178, 226);
    background-color: black;
}
h1{background-color: rgb(68, 66, 64);
    color: black;
    }
   .categoriavideos{
            display: flex;
            background-color: red;
            width: auto;
        }